@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Cairo:wght@300&family=Inter&family=Raleway&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --semi-transparent: 55, 65, 81, .6;
  }
}

.translate-position-lg {
  transform: translate(-50%, -50%);
}

.translate-position-sm {
  transform: translate(-5%, -50%);
}